<div id="<%= dom_id port %>">
  <p>
    <strong>Name:</strong>
    <%= port.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= port.description %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= port.summary %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= port.url %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= port.category_id %>
  </p>

</div>
