<%= render partial: "shared/header" %>
<main>
  <%= render @category %>
  <div class="options">
    <%= link_to "Edit", edit_category_path(@category) %>
    <%= link_to "Delete", @category, method: :delete, class: "button" %>
  </div>
  <% @ports.each do |port| %>
    <article>
      <h2><%= link_to port.name, port %></h2>
      <% if port.summary %>
        <%= tag.p port.summary, class: "summary" %>
      <% end %>
      <% if port.description %>
        <%= tag.p port.description, class: "description" %>
      <% end %>
      <% if port.url %>
        <%= link_to port.url, "#{ port.url }" %>
      <% end %>
    </article>
  </main>
<% end %>
<%= render partial: "shared/footer" %>
 
